@layer normalize, theme;

@import "./common/normalize.css" layer(normalize);
@import "./common/theme.css" layer(theme);

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.app {
  background: #FFF9ED;
  padding: 2rem;
}