:root {
  --color-font-black: #26262c;
  --color-font-gray: #62636c;
  --color-font-white: #ffffff;
  --color-line-gray: #d9d9de;
  --color-button-blue: #3578FF;

  --coffee-light: #FFFDF8;
  --coffee-50: #FBF6EF;
  --coffee-100: #EDE3CF;
  --coffee-200: #E9E5D9;
  --coffee-300: #A49076;
  --coffee-400: #968878;
  --coffee-600: #7E6D59;
  --coffee-700: #6D6666;
  --coffee-800: #603E14;
}